p.intro {
  font-size: x-large;
}

table.docutils {
  table-layout: fixed;
  width: 100%;
}

table.docutils td {
  word-wrap: break-word;
  white-space: normal;
  vertical-align: top
}

div.policy div.wy-table-responsive {
  margin-bottom: 0;
}

div.policy table.docutils td.basically {
  font-size: large;
  font-weight: bold;
  vertical-align: top
}
