table.docutils {
  table-layout: fixed;
  width: 100%;
}

div.wy-table-responsive {
  margin-bottom: 0;
}

table.docutils td {
  word-wrap: break-word;
  white-space: normal;
  vertical-align: top
}

table.docutils tbody td:nth-child(2) {
  font-size: large;
  font-weight: bold;
  vertical-align: top
}
